.chat-main
  .chat-main__group-info
    .group-box
      .group-box__name
      = @group.name
      .group-box__member
        Member: 
        - @group.users.each do |user|
          = user.name
    = link_to "Edit", edit_group_path(@group), class: "edit-btn"
  .chat-main__message-list
    = render @messages
  = form_with model: [@group, @message], html: {class: "chat-main__message-form"},  local: true do |f|
    .message-form-box
      = f.text_field :content, class: 'form-text', placeholder: 'type a message'
      = f.label :image, class: 'form-image' do
        = icon('far', 'image')
        = f.file_field :image, class: 'input-btn'
    = f.submit 'Send', class: 'form-send'
